

.App {
    background-color: whitesmoke;
    min-height: 2000px;
}
.top{
    min-height: 100px;
}
.main{
    display: flex;
    min-height: 1000px;
}
.down{
    min-height: 100px;
    align-content: center;
}

